<?php 
	/**************************************************************************************
	* Theme:	cheery
	*
	* Notes:	Global definitions go in this file, specific classes
	* 			should all be included via php includes
	*			http://www.colourlovers.com/palette/119408/halcyon
	***************************************************************************************/
	header("Content-type: text/css"); 
?>

/**************************************************************************************
*	 Containers:	Global body classes
***************************************************************************************/
body 
{ 
	/*background-color: #F7F7F7;*/
	background: #fff none;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif; 
	font-size: 11px;
	color: #000000;
	background-color:#fff;
}
/* used for all popups */
body.popup
{
	background-color:#FFFFFF;
	color:#000000;
	margin: 0px 10px 0 10px;
	padding: 0px;
}

/**************************************************************************************
*	Links and buttons
***************************************************************************************/
/* Global Link classes */
a { text-decoration: underline; color: #000066; }
a:active { text-decoration: underline; color: #FFFF66; }
a:visited { text-decoration: underline; color: #000066; }
a:hover { text-decoration: underline; color: #FF0000; }
.link { text-decoration: underline; color: #000066; } /* Used for span and text acting like a link */
.boldLink { text-decoration: none; color: #3B5998; font-weight: bold; font-size: 12px;  } /* Used for bold header like links like the profile name */
.boldLink:hover { text-decoration: underline; }
.boldLink:visited { text-decoration: none; color: #3B5998; font-weight: bold; }


/* application name/title container */
#appname
{
	background-color: white; 
	border-bottom: 1px solid #e3e3e3;
	color:#F07E13;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	font-size:18px; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold; 
}

/* application title container */
.apptitle
{
	background-color: #f7f7f7; 
	border-bottom: 1px solid #e3e3e3;
	/*color:#F07E13;*/
	color:#515151;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 20px;
	font:Verdana, Arial, Helvetica, sans-serif;
}

.apptitle h1
{
	font-size:18px;
	margin: 0 0 3px 0;
	padding: 3px 0 0 0;
	font-weight:bold; 
}

.apptitle > div
{
	margin-left: 1px;
	font-family: Tahoma,Sans-Serif;
}

.apptitle a
{
	text-decoration: none;
	font-family: Tahoma,Sans-Serif;
	color: #0084AA;
}

.apptitle a:hover
{
	text-decoration: underline;
}

/**************************************************************************************
*	 Global container
***************************************************************************************/
/* used for creating think hr lines in tables */
.horizontalline, hr
{
	height:1px;
	background-color:#0066FF;
}
/* loading div or span */
.loading
{
	background-image: url(/images/loading.gif);	
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 10px;
}

/**************************************************************************************
*	ANT Header
***************************************************************************************/
.header
{
	/*background-color:#0194BE;*/
	background-color: #048fc2;
	color:#FFFFFF;
	vertical-align: middle;
}

.header a
{
	color:#FFFFFF;
	font-weight:bold; 
	font-size:12px; 
	text-decoration:none;
}

.headerTitle
{
	padding: 5px;
	color:#FFFFFF;
	font-size:20px; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold; 
}

/**************************************************************************************
*	Topnav
***************************************************************************************/
.topNavbarBG 
{
	background:#048fc2;
	padding-left: 5px;
	border: 0;
}

.topNavbarShadow 
{
	height:0px;
	background-color:#7f95ac;
}

.topNavbarHr
{
	background-color: #7f95ac;
	height:0px;
}

.topNavTabOut
{
	cursor:pointer;
	color:#fff;
	background-color: #0084aa;
	border: 0;
	border-right: 1px solid #7f95ac;
	height:25px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}
.topNavTabOut div 
{ 
	padding-left:10px; padding-right:10px; padding-top:5px;
	border: 0;
}

.topNavTabOver
{
	cursor:pointer;
	color:#E2D397;
	background-color: #0084aa;
	border: 0;
	border-right: 1px solid #7f95ac;
	height:25px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}
.topNavTabOver div 
{ 
	padding-left:10px; padding-right:10px; padding-top:5px;
	border: 0;
}

.topNavTabOn
{
	cursor:pointer;
	color:#515151;
	background-color: #f7f7f7;
	border: 0;
	border-right: 1px solid #7f95ac;
	height:25px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}
.topNavTabOn div { 
	padding-left:10px; 
	padding-right:10px; 
	padding-top:5px;
	border: 0;
}

/**************************************************************************************
*	 Forms:	Global form classes
***************************************************************************************/
.formTitle
{
	font-size: 16px;
	font-weight: bold;
	text-align:left;
	padding:5px 5px 5px 0px;
	margin:0px;
	color: #F07E13;
}

/* formLabel and formValue are inherited from ant_base */

.objectLoaderHeader
{
	font-size: 18px;
	font-weight: bold;
	text-align:left;
	padding:0px 5px 0px 0px;
	margin:0px;
	color: #F07E13;
}

/* The body of all object loader forms */
.objectLoaderBody
{
	margin: 0;
}

/**
 * AntObjectList classes
 * ----------------------------------------------------------------------
 */

/* Header with title */
.aobListHeader
{
	font-size: 18px;
	font-weight: bold;
	text-align:left;
	padding:5px 5px 0px 5px;
	margin:0px;
	color: #F07E13;
}

.aobListRow, .aobListRowAct, .aobListRowAlert
{
	cursor:pointer;
	color:#000000;
	background-color:#FFFFFF;
	font-size: 13px;

	/* We use drag and drop so disable selecting text */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.aobListRow > td, .aobListRowAct > td, .aobListRowAlert > td
{
	border-bottom-color:#cccccc; 
	border-bottom-style:solid; 
	border-bottom-width:1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Inactive / Normal state */
.aobListRow
{
}

/* Over - on mouse over */
.aobListRow:hover
{
	background-color: #e3e3e3;
}

/* Active - selected */
.aobListRowAct
{
	background-color:#00b2d9;
	color:#fff;
}

.aobListRowAct td, .aobListRowAct .aobjListBold
{
	color:#fff;
	/*color:#000000;*/
}


/* Alert - usually means unread */
.aobListRowAlert
{
	background-color:#e1e3e8;
}

.aobListRowAlert td
{
	/*color:#fff;*/
	color: #333;
}

/* No select option - no hover */
.aobListRowNoSelect
{
	background-color: none;

	/* We use drag and drop so disable selecting text */
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
}

/* The container where the title of the list view goes */
.aobListTitle
{
	padding: 3px 0 3px 5px;
	font-weight: bold;
}

/* The container where the page number and pagination goes */
.aobListRight
{
	padding-right: 5px;
	padding-top: 3px;
}

/* Breadcrumbs - used for file browsing */
.aobListBreadCrumbs
{
	padding: 3px 0 3px 5px;
	font-weight: bold;
}

/* General table styles */

.aobListTable
{
	width: 100%;
}

.aobListTable th
{
	text-align: left;
	background-color:#979797; 
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
	padding: 2px 0px 2px 5px;
}

.aobjListBold
{
	font-weight:bold;
	color: #666;
}

.aobListItal
{
	color:#336699;
}


/* Comment row */
.aobListRowComment
{
	cursor:default;
	margin: 5px 5px 0px 0px;
	padding: 5px 0 5px 0;
	background-color: #ECEFF5;
	color: black;


	/* We use drag and drop so disable selecting text */
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
}

/* No select option - no hover */
.aobListRowNoSelect, .aobListRowNoSelect:hover
{
	background-color: none;
	cursor:auto;

	/* We use drag and drop so disable selecting text */
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
}

/* Browser toolbar container */
.aobToolbar { }

/* Search container */
.aobSearch
{
	margin-top: 5px;
	margin-left: 4px;
}

/* The body of the object browser */
.aobBody
{
}

/*
 * Fancy input styles
 */
input.fancy 
{
   border:none;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 5px #666 inset;
   -moz-box-shadow:0 0 5px #666 inset;
   box-shadow:0 0 5px #666 inset;
   text-indent:5px;
   margin: 0;
   height:28px;
}

input.medium
{
   border:none;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px #666 inset;
   -moz-box-shadow:0 0 3px #666 inset;
   box-shadow:0 0 3px #666 inset;
   height:20px;
   line-height:15px;
   text-indent:3px;
   margin: 0;
}

input.small
{
   border:none;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px #666 inset;
   -moz-box-shadow:0 0 3px #666 inset;
   box-shadow:0 0 3px #666 inset;
   height:14px;
   line-height:15px;
   text-indent:3px;
   margin: 0;
}

input.grLeft
{
	-webkit-border-top-right-radius: 0px; 
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;

	-webkit-border-bottom-right-radius: 0px; 
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}

input.grRight
{
	-webkit-border-top-left-radius: 0px; 
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;

	-webkit-border-bottom-left-radius: 0px; 
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;

	margin-left: 0px;
}

/**
 * Dashboard widget classes
 */
.dbWidget
{
	border: 1px solid #dddddd;
	margin: 0 4px 8px 4px;
}

.dbWidgetHeader
{
	background-color: #f0f0f0;
	border-bottom: 1px solid #dddddd;
}

.dbWidgetHeader:hover
{
	background-color: #EEE;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FAFAFA),to(#D6D6D6));
	background-image: -moz-linear-gradient(top,#FAFAFA,#D6D6D6);
	/*
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	*/
}

.dbWidgetTitle
{
	padding: 5px 0 0 5px;
	font-size: 15px;
	color: #333333;
	height: 25px;
	cursor: move;
	text-overflow: ellipsis;
	text-shadow: white 0 1px;
	white-space: nowrap;
}

.dbWidgetOpt
{
	margin: 7px 5px;
	float: right;
}

.dbWidgetBody
{
	padding: 5px;
}

/**************************************************************************************
*	Theme Includes
***************************************************************************************/
<?php
	$folder = "cheery";
	/*
	*	List of styles that control the look of aereuslib classes
	*/
	include("$folder/ui_button.css");
	include("$folder/CContentTable.css");
	include("$folder/CToolbar.css");
	include("$folder/CTabs.css");
	include("$folder/CToolTable.css");
	include("$folder/CWindowFrame.css");
	include("$folder/AntObjectBrowser.css");
	include("$folder/CNavBar.css");
?>
