/**************************************************************************************
*	Page:		Dynamically Generated Contact Pages edit_contact.awp
***************************************************************************************/

.NotesTable
{
	padding:0px;
	margin:0px;
	border:none;
}



.NotesHR
{
	border:none;
	color: #808080;
	background-color: #808080;
	height: 1px;
	width: 100%;
	text-align: left;
}
