/**************************************************************************************
*	LIB:		CContentTable
*	Purpose:	aereus.lib.js class used throughout ant for each content table
***************************************************************************************/
/* outer table */
.ContentTable
{
	border-width:0;
	/*
	border-style:solid; 
	border-left-color:#5b8922; 
	border-left-width:1px; 
	border-top-width:1px; 
	border-top-color:#5b8922; 
	border-bottom-color:#5b8922; 
	border-bottom-width:1px;  
	border-right-color:#5b8922; 
	border-right-width:1px;
	*/
}
/* Upper Left Corner */
.ContentTableTitleLeftCorn
{
	width:0px;
}
/* Center of title bar */
.ContentTableTitleCenter
{
	background-color: #fff;
	height: 20px;
	/*border-bottom: 1px solid #5b8922;
	border-left: 1px solid #5b8922;*/
}
/* Upper Right Corner */
.ContentTableTitleRightCorn
{
	width:0px;
}
/* Label Container - For title */
.ContentTableTitleLabel
{
	text-align:left;
	font-size:14px; 
	padding-left:3px;
	padding-top:1px;
	padding-bottom:2px;
	color:#5b8922;
	font-weight: bold;
}
/* Context Container - For title */
.ContentTableTitleContext
{
	margin-top: 1px;
	margin-right: 1px;
}
/* Left border of table body */
.ContentTableBodyLeft
{
	width:0px;
}
/* Table body */
.ContentTableBody
{
	background-color:#FFFFFF; 
	padding:4px; 
	height:100%
}
/* Right border of table body */
.ContentTableBodyRight
{
	width:0px;
}
/* Small 1px hr at the bottom of the table */
.ContentTableFooterHrLeft
{

}
.ContentTableFooterHr 
{
	background-color:#FFFFFF;
	height:1px;
}
.ContentTableFooterHrRight
{

}

/* The fotter row where the menu might optionally be placed */
.ContentTableFooterLeftCorn
{

}

.ContentTableFooterRow
{

}

.ContentTableFooterRightCorn
{

}
