/**************************************************************************************
*	LIB:		CWindowFrame
*	Purpose:	aereus.lib.js class split sections of a page into tabs
***************************************************************************************/
.CTTabLeftOn
{
	width: 0px;
}
.CTTabLeftOff
{
	width: 0px;
}
.CTTabCenterOn
{
	font-weight: bold;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	background-color: #d8dfea;
	font-size:10px;
	color:#3b59b4;
	padding:4px;
	cursor: pointer;
}

.CTTabCenterOff
{
	font-weight: bold;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	background-color: white;
	font-size:10px;
	color:#000;
	padding:4px;
	cursor: pointer;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.CTTabRightOn
{
	width: 2px;
}

.CTTabRightOff
{
	width: 2px;
}

.CTTabHr
{
	height: 1px;
	background-color: #d8dfea;
}
/* Where the content is placed */
.CTTabBody
{
}

