/**************************************************************************
 *	CToolTable.js
 **************************************************************************/
.CTTMainTable
{
	background-color:#FFFFFF;
}
.CTTHeaderCell
{
	background-color:#979797; 
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
}
.CTTRowOne
{
	background-color:#fff; 
	/*background-color:#F0F0F0; */
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowOneBold
{
	color:#666666;
	background-color:#d9dee7; 
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowTwo
{
	background-color:#fff; 
	/*
	color:#666666;
	background-color:#DEDEDE; 
	*/
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowTwoBold
{
	color:#666666;
	background-color:#e1e6ef; 
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowSpacer
{
	background-image:url(/images/cellspacing_dotted_line.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	border-right:1px solid #FFFFFF;
	height:1px;
}

