/**************************************************************************************
*	Chat:		For Chat Classes
***************************************************************************************/
a.chat
{
	color:#FF0000;
	text-decoration:underline;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}
a.chat:hover
{
	color:#660000;
	text-decoration:none;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}
a.chat:visited
{
	color:#ABABAB;
	text-decoration:none;
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

.antChatStyles {
font-family: Arial, Verdana,  Helvetica, sans-serif; font-size: 12px; border: #000000; border-style:solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width:99%; height:30px;
}

/**************************************************************************************
*	Chat:		For Chat Classes
***************************************************************************************/

.ChatInputWindowImage
{
	margin-top: 2px;
}
.ChatInputWindow
{
	padding-right:6px;
	padding-top:3px;
	margin-left: 4px;
	margin-right: 6px;
}
.ChatActionsBar
{
	padding-right:3px;
	padding-left:3px;
	padding-top:3px;
	font-size: 8px;
	text-align: right;
}
.ChatViewWindow
{
	width:100%;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
.ChatMainFrame
{
	background-color:#FFFFFF;
	border:1px solid #333333;
	padding-left:3px;
	padding-top:3px;
	overflow:auto;
}
.ChatTitle
{
	color:#333333;
	font-size:14px; 
	padding-left:3px; 
	padding-top:3px;
	font-weight:bold;
}
.ChatStatusTitle
{
	color:#000000;
	font-size:12px; 
	padding-left:3px; 
	padding-top:3px;
	font-weight:bold;
}
