/**************************************************************************************
*	Page:		/lib/CToolTable.awp
*	Purpose:	Standard table used for most tools
***************************************************************************************/
.CTTMainTable
{
	background-color:#FFFFFF;
}

.CTTHeaderCell
{
	background-color:#979797; 
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
}

.CTTRowOne
{
	background-color:#F0F0F0; 
	color:#666666;
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowOneBold
{
	color:#666666;
	background-color:#BABACC; 
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowTwo
{
	color:#666666;
	background-color:#DEDEDE; 
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowTwoBold
{
	color:#666666;
	background-color:#CACADD; 
	border-right:1px solid #FFFFFF;
	vertical-align:middle;
}
.CTTRowSpacer
{
	background-image:url(/images/cellspacing_dotted_line.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	border-right:1px solid #FFFFFF;
	height:1px;
}
