/**************************************************************************
 *	CTreeView.js
 **************************************************************************/

/* Outer Container */
.CTreeViewCon
{
	padding: 3px;
}

/* Div holding each row */
.CTreeViewRow
{
	margin-top: 3px;
}

/* Container with subs - closed */
.CTreeViewTildeWithSubClosed
{
	width: 12px;
	height: 16px;
	background-image: url(/images/themes/ant_os/icons/hierarch_closed.gif);
	background-repeat: no-repeat; 
	background-position: center center; 
}

/* Container with subs - open */
.CTreeViewTildeWithSubOpen
{
	width: 12px;
	height: 16px;
	background-image: url(/images/themes/ant_os/icons/hierarch_open.gif);
	background-repeat: no-repeat; 
	background-position: center center; 
}

/* Container with no subs */
.CTreeViewTildeNoSub
{
	width: 12px;
	height: 18px;
	background-repeat: no-repeat; 
	background-position: center center; 
}

/* Container space to the left of tide and icon */
.CTreeViewSpaceLine
{
	width: 10px;
	height: 18px;
}

.CTreeViewIcon
{
	width: 22px;
	margin-right: 3px;
	margin-left: 3px;
	height: 18px;
}

.CTreeViewIcon img
{
	vertical-align: middle;
}

.CTreeViewBodyOut
{
	cursor: default;
	margin-top: 5px;
	height: 18px;
	vertical-align: middle;
}

.CTreeViewBodyOver
{
	cursor: default;
	margin-top: 5px;
	height: 18px;
	vertical-align: middle;
	color: blue;
}

.CTreeViewBodyOn
{
	cursor: default;
	margin-top: 5px;
	height: 18px;
	vertical-align: middle;
	color: red;
}
