/**
 * Styles used in the AntObjectList class
 */
.aobListRow, .aobListRowAct, .aobListRowAlert, .aobListRowOver
{
	cursor:pointer;
	color:#000000;
	background-color:#FFFFFF;
	font-size: 13px;

	/* We use drag and drop so disable selecting text */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.aobListRow > td, .aobListRowAct > td, .aobListRowAlert > td, .aobListRowOver > td
{
	border-bottom-color:#cccccc; 
	border-bottom-style:solid; 
	border-bottom-width:1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Inactive / Normal state */
.aobListRow
{
}


/* Active - selected */
.aobListRowAct
{
	background-color:#CCCCCC;
}

.aobListRowAct td
{
	color:#ffffff;
}


/* Alert - usually means unread */
.aobListRowAlert
{
	background-color:#bcddff;
}

.aobListRowAlert td
{
	color:#000;
}

/* Over - on mouse over */
.aobListRowOver
{
	background-color: #e3e3e3;
}

/* General table styles */

.aobListTable
{
	width: 100%;
}

.aobListTable th
{
	text-align: left;
	background-color:#0084aa; 
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
	padding: 2px 0px 2px 5px;
}

.aobjListBold
{
	font-weight:bold;
}

.aobListItal
{
	color:#666666;
}
