/**************************************************************************************
*	LIB:		CWindowFrame
*	Purpose:	aereus.lib.js class split sections of a page into tabs
***************************************************************************************/
.CTTabLeftOn
{
	background-image:url(/images/themes/future2/tab_on_left.gif);
	background-position: bottom right;
	background-repeat:no-repeat;
	width: 2px;
}
.CTTabLeftOff
{
	background-image:url(/images/themes/future2/tab_off_left.gif);
	background-position: bottom right;
	background-repeat:no-repeat;
	width: 2px;
}
.CTTabCenterOn
{
	background: url('/images/themes/future2/tab_on_mid.gif');
	background-repeat: repeat-x;
	background-position: bottom left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	padding:4px;
	cursor: pointer;
}
.CTTabCenterOff
{
	background: url('/images/themes/future2/tab_off_mid.gif');
	background-repeat: repeat-x;
	background-position: bottom left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	padding:4px;
	cursor: pointer;
}

.CTTabRightOn
{
	background-image:url(/images/themes/future2/tab_on_right.gif);
	background-position: bottom left;
	background-repeat:no-repeat;
	width: 3px;
}

.CTTabRightOff
{
	background-image:url(/images/themes/future2/tab_off_right.gif);
	background-position: bottom left;
	background-repeat:no-repeat;
	width: 3px;
}

.CTTabHr
{
	height: 1px;
	background-color: #ccc;
}
/* Where the content is placed */
.CTTabBody
{
}



