/**************************************************************************************
*	LIB:		CContentTable
*	Purpose:	aereus.lib.js class used throughout ant for each content table
***************************************************************************************/
/* outer table */
.ContentTable
{
	border-width:1px;
	border-style:solid; 
	border-left-color:#A9AC9C; 
	border-left-width:1px; 
	border-top-width:1px; 
	border-top-color:#A9AC9C; 
	border-bottom-color:#A9AC9C; 
	border-bottom-width:1px;  
	border-right-color:#A9AC9C; 
	border-right-width:1px;
}

.ContentTableTitleLeftCorn
{
	width:0px;
}
.ContentTableTitleCenter  
{
	background-color:#FFFFFF; 
	background-image:url(/images/themes/armygreen/windowHeaderShade.gif); 
	background-position:0px 0px; 
	background-repeat:repeat-x;
	height:18px;
}
.ContentTableTitleRightCorn
{
	width:0px;
}
/* The Cell containing the title text */
.ContentTableTitleLabel
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:bold; 
	color:#45463E; 
	padding-left:3px;
	padding-top:2px;
}
/* Right div for context menus */
.ContentTableTitleContext
{
	margin: 2px 2px 0 0;
}

/* The body where content is placed */
.ContentTableBodyLeft
{
	width:0px;
}
.ContentTableBody
{
	background-color:#FFFFFF; 
	padding:3px; 
	background-image:url(/images/templates/windowBodyShade.gif); 
	background-position:0px 0px; 
	background-repeat:repeat-x;
	height:100%
}
.ContentTableBodyRight
{
	width:0px;
}

/* DEPRECIATED: Small hr at the bottom of the table */
.ContentTableFooterHrLeft
{
	width:0px;
}
.ContentTableFooterHr
{
	background-color:#CCCCCC;
	height:1px;
}
.ContentTableFooterHrRight
{
	width:0px;
}

/* Footer row*/
.ContentTableFooterLeftCorn
{
	width:0px;
}
.ContentTableFooterRow 
{
}
.ContentTableFooterCenter
{
	height:10px;
	
	<?php
	if (!$pnghack)
	{
		echo "background-image:url(/images/themes/armygreen/windowFooterShade.png);
				background-position:0px 0px;";
	}
	else
	{
		
		echo "background-image: none;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/themes/armygreen/windowFooterShade.png, sizingMethod='scale');";
	}
	?>
	
}
.ContentTableFooterRightCorn
{
	width:0px;
}
