<?xml version="1.0"?>
<!-- $Header: /var/cvs/ant.aereus.com/lib/html_to_pdf/.html2ps.config,v 1.2 2006/01/30 00:39:17 administrator Exp $ -->
<config>

<fonts>
  <family name="times">
    <normal normal="/Times-Roman" italic="/Times-Italic" oblique="/Times-Italic"/>
    <bold normal="/Times-Bold" italic="/Times-BoldItalic" oblique="/Times-BoldItalic"/>

    <encoding-override name="windows-1251,iso-8859-5,koi8-r">
      <normal normal="/TimesCyr-Medium" italic="/TimesCyr-Italic" oblique="/TimesCyr-Italic"/>
      <bold normal="/TimesCyr-Bold" italic="/TimesCyr-BoldItalic" oblique="/TimesCyr-BoldItalic"/>
    </encoding-override>
  </family>

  <family name="helvetica">
    <normal normal="/Helvetica" italic="/Helvetica-Oblique" oblique="/Helvetica-Oblique"/>
    <bold normal="/Helvetica-Bold" italic="/Helvetica-BoldOblique" oblique="/Helvetica-BoldOblique"/>

    <encoding-override name="windows-1251,iso-8859-5,koi8-r">
      <normal normal="/HelveticaCyr-Medium" italic="/HelveticaCyr-Italic" oblique="/HelveticaCyr-Italic"/>
      <bold normal="/HelveticaCyr-Bold" italic="/HelveticaCyr-BoldItalic" oblique="/HelveticaCyr-BoldItalic"/>
    </encoding-override>
  </family>

  <family name="courier">
    <normal normal="/Courier" italic="/Courier-Italic" oblique="/Courier-Oblique"/>
    <bold normal="/Courier-Bold" italic="/Courier-Bold-Italic" oblique="/Courier-Bold-Oblique"/>

    <encoding-override name="windows-1251,iso-8859-5,koi8-r">
      <normal normal="/Courier10PitchCyr-Medium" italic="/Courier10PitchCyr-Italic" oblique="/Courier10PitchCyr-Italic"/>
      <bold normal="/Courier10PitchCyr-Bold" italic="/Courier10PitchCyr-BoldItalic" oblique="/Courier10PitchCyr-BoldItalic"/>
    </encoding-override>
  </family>

  <encoding-override name="dingbats">
    <normal normal="/Dingbats" italic="/Dingbats" oblique="/Dingbats"/>
    <bold normal="/Dingbats" italic="/Dingbats" oblique="/Dingbats"/>
  </encoding-override>

  <encoding-override name="symbol">
    <normal normal="/Symbol" italic="/Symbol" oblique="/Symbol"/>
    <bold normal="/Symbol" italic="/Symbol" oblique="/Symbol"/>
  </encoding-override>

  <encoding-override name="iso-8859-7">
    <normal normal="/Symbol" italic="/Symbol" oblique="/Symbol"/>
    <bold normal="/Symbol" italic="/Symbol" oblique="/Symbol"/>
  </encoding-override>

  <alias alias="serif"      family="times"/>
  <alias alias="arial"      family="helvetica"/>
  <alias alias="verdana"    family="helvetica"/>
  <alias alias="sans-serif" family="helvetica"/>
  <alias alias="monospace"  family="courier"/>
</fonts>

<fonts-pdf>
  <family name="times">
    <normal normal="Times-Roman" italic="Times-Italic" oblique="Times-Italic"/>
    <bold normal="Times-Bold" italic="Times-BoldItalic" oblique="Times-BoldItalic"/>
  </family>

  <family name="helvetica">
    <normal normal="Helvetica" italic="Helvetica-Oblique" oblique="Helvetica-Oblique"/>
    <bold normal="Helvetica-Bold" italic="Helvetica-BoldOblique" oblique="Helvetica-BoldOblique"/>
  </family>

  <family name="courier">
    <normal normal="Courier" italic="Courier-Oblique" oblique="Courier-Oblique"/>
    <bold normal="Courier-Bold" italic="Courier-Oblique" oblique="Courier-BoldOblique"/>
  </family>

  <encoding-override name="dingbats">
    <normal normal="ZapfDingbats" italic="ZapfDingbats" oblique="ZapfDingbats"/>
    <bold normal="ZapfDingbats" italic="ZapfDingbats" oblique="ZapfDingbats"/>
  </encoding-override>

  <encoding-override name="symbol">
    <normal normal="Symbol" italic="Symbol" oblique="Symbol"/>
    <bold normal="Symbol" italic="Symbol" oblique="Symbol"/>
  </encoding-override>

  <encoding-override name="iso-8859-7">
    <normal normal="Symbol" italic="Symbol" oblique="Symbol"/>
    <bold normal="Symbol" italic="Symbol" oblique="Symbol"/>
  </encoding-override>

  <alias alias="serif"      family="times"/>
  <alias alias="arial"      family="helvetica"/>
  <alias alias="verdana"    family="helvetica"/>
  <alias alias="sans-serif" family="helvetica"/>
  <alias alias="monospace"  family="courier"/>

  <ttf typeface="Times-Roman"           file="times.ttf"/>
  <ttf typeface="Times-Italic"          file="timesi.ttf"/>
  <ttf typeface="Times-Bold"            file="timesbd.ttf"/>
  <ttf typeface="Times-BoldItalic"      file="timesbi.ttf"/>
  <ttf typeface="Helvetica"             file="arial.ttf"/>
  <ttf typeface="Helvetica-Oblique"     file="ariali.ttf"/>
  <ttf typeface="Helvetica-Bold"        file="arialbd.ttf"/>
  <ttf typeface="Helvetica-BoldOblique" file="arialbi.ttf"/>
  <ttf typeface="Courier"               file="cour.ttf"/>
  <ttf typeface="Courier-Oblique"       file="couri.ttf"/>
  <ttf typeface="Courier-Bold"          file="courbd.ttf"/>
  <ttf typeface="Courier-BoldOblique"   file="courbi.ttf"/>
  <ttf typeface="Symbol"                file="symbol.ttf"/>
</fonts-pdf>

<media name="Letter" width="216" height="279"/>
<media name="Legal" width="216" height="357"/>
<media name="Executive" width="184" height="267"/>
<media name="A4" width="210" height="297"/>
<media name="A5" width="148" height="210"/>
<media name="B5" width="182" height="257"/>
<media name="Folio" width="216" height="330"/>
<media name="A6" width="105" height="148"/>

</config>